footer {
    position: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
}

.social-sticky {
    position: fixed;
    z-index: 10;
    width: "40px";
    background: none;
}

.whatsapp-btn {
    text-align: center;
}


@media (max-width:768px) {
    body {
        /* width: 100%; */
        background-image: url(/images/post\ \(1\).jpg);
        background-repeat: no-repeat;
    }

    .content {
        display: none;
    }
}

@media (min-width:768px) {
    body {
        background-image: url(/images/banner-landing-page\ \(2\).jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }

}