.games {
    display: block;
}

.betx-banner a:hover {
    text-decoration: none;
    color: aliceblue;
}

.online-game a:hover {
    text-decoration: none;
    color: aliceblue;
}

.social-sticky a {
    background-color: aliceblue;
    bottom: 400px;
}

body,
figure {
    background-color: white;
    background-image: url(/images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.discountFtd {
    display: flex;
    justify-content: center;
}

.features {
    text-align: center;
    color: aliceblue;
    padding: 2px 5px 2px 2px
}

.online-game a {
    text-align: center;
    margin: 25px 30px 25px 30px;
}

.block {
    color: white;
    max-width: 700px;
    width: 90%;
    padding: 5%;
    background: rgba(0,0,0,0.6);
    text-align: center;
    margin: 30px auto 0;
}

.another a:link{
    text-decoration: none;
    color: aliceblue;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'poppinsregular';
    position: relative;
    overflow: auto;
}


@media (max-width:768px) {
    body {
        /* width: 100%; */
        background-image: url(/images/4m.jpg);
        background-repeat: no-repeat;
    }

    .block {
        width: 100%;
    }
}

@media (min-width:768px) {
    body {
        background-image: url(/images/3rdpagebnrbg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }

}